<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga Pose Classification</title>
    <style>
        #video-container {
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        video {
            border: 2px solid #333;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div id="video-container">
        <h1>Yoga Pose Classification</h1>
        <div>
            <img id="video-stream" src="/video_feed" alt="Yoga Pose Stream">
        </div>
    </div>
</body>
</html>
